.navButton{
    background-color: rgb(11, 95, 11)!important;
    border: none!important;
}

.navButton:hover{
    background-color: rgb(11, 95, 11);
}

@media screen and (max-width: 767px) {
    .navButton {
      display: none!important;
    }
  }


.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #110f0f;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav button {
  border: none;
  background-color: transparent;
  color: #818181;
  padding: 8px 8px 8px 32px;
}

.side-nav button:hover {
 
  background-color: transparent;
 
}


.side-nav a:hover, .side-nav button:hover {
  color: #f1f1f1;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: #818181;
}

.side-nav.open {
  width: 250px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.burgerMenu:hover{
  cursor: pointer;
}
