
.wittgenstein-fontWittgenstein {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.heroSectionContainer{
    background: linear-gradient(#266b51, #202881);;
    color: white;
    padding: 50px;
}

.heroSection{
    padding: 65px 50px 80px 5px;
}

.heroButton{
  background-color: rgb(11, 95, 11)!important;
  border: none!important;
}